* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightseagreen;
}

.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #000;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}
.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
}
/* 2.nav */
.nav-icon2 {
  margin: 5em;
  width: 40px;
}

.nav-icon2:after,
.nav-icon2:before,
.nav-icon2 div {
  background-color: #000;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}
.nav-icon2:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon2:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
}

/* 3.nav */

.nav-icon3 {
  margin: 1em;
  width: 40px;
}

.nav-icon3:after,
.nav-icon3:before,
.nav-icon3 div {
  background-color: #000;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}
.nav-icon3:hover:before {
  transform: translateY(12px) rotate(90deg);
}

.nav-icon3:hover:after {
  transform: translateY(-12px) rotate(180deg);
}

.nav-icon3:hover div {
  transform: scale(0);
}
